@import url( 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

body {
  padding: 20px;
  background: #dfdfdf;
  margin: 0;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}